<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="vueapp">
    <form action="insert.no">
        <h2>포트폴리오 문제</h2>
        <fieldset>
            <legend>공지사항 작성하기</legend>
            <li>
                <label>제목<input type="text" name="title"></label>
            </li>
            <li>
                <label>내용<input type="text" name="content" size="100"></label>
            </li>
            <li>
                <label>첨부파일<input type="submit" name="uploadFile">선택된 파일 없음</label>
            </li>
            <li>
                <label><input type="submit" name="uploadFile"></label>
            </li>
        </fieldset>
    </form>
  </div>
</body>
</html>