<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>게시판 목록 보기</h2>
<a href="/register">글쓰기</a>
<table border="1">
  <tr>
    <th align="center" width="100">번호</th>
    <th align="center" width="640">제목</th>
    <th align="center" width="240">작성자</th>
    <th align="center" width="240">작성일</th>
    <th align="center" width="150">조회수</th>
  <tr></tr>
    <td colspan="5">
      현재 등록된 게시물이 없습니다!
    </td>
</table>
</body>
</html>