<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div#whoami,#detail {
            float: left;
        }
        #whoami {
            margin-right: 20px;
        }

    </style>
</head>
<body>
    <div id="container">

        <div id="whoami">
            <h1>Name</h1>
            <p>어마마마</p>
        </div>

        <div id="detail">
            <h1>그 다음 올 문장은?</h1>
            <p>통촉하셈</p>
        </div>

    </div>
</body>
</html>